body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    background-color: #f5f5f5;
    color: #333;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    height: auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.header-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header h1 {
    font-size: 32px;
    font-weight: bold;
    color: #d2905d;
    margin: 0;
}

header h2 {
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    border-bottom: 3px;
    margin-top: 5px;
    margin: 0 5px;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

header h2:hover {
    border-bottom: 3px solid #000000;
}

header p {
    font-size: 16px;
    font-weight: normal;
}

main {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: calc(100vh - 120px);
    gap: 20px; /* Espaciado entre las listas */
}

.main-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Ajuste de ancho para que entren ambas listas */
    padding: 20px;
}

.main-container ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
}

.main-container li {
    display: flex;
    align-items: center; /* Alinea el checkbox y el texto verticalmente */
}